:root.theme-dark {
  --bg-image: url("../images/cover-image-dark.png");
  --bg-color: #000028;
  --button-color: #FF0070;
  --button-hover-color: #FF007066;
  --title-color: #DB00FF;
  --primary-subtitle-color: #000028;
  --secondary-subtitle-color: #FF0070;
  --main-text-color: #F1B2CE;
  --accent-color: #FF0070;
}

.theme-dark .page {
  --bg-image: url("../images/cover-image-dark.png");
  --bg-color: #000028;
}

.theme-dark .header__rec-label {
  display: flex;
}