:root.theme-light {
  --bg-image: url("../images/cover-image-light.png");
  --bg-color: #FFF1F7;
  --button-color: #353430;
  --button-hover-color: #32312D66;
  --title-color: #FFC2E6;
  --primary-subtitle-color: #353430;
  --secondary-subtitle-color: #353430;
  --main-text-color: #353430;
  --accent-color: #FF8DCB;
}

.theme-light .page {
  --bg-image: url("../images/cover-image-light.png");
  --bg-color: #FFF1F7;
}

.theme-light .header__rec-label {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url("../images/cover-image-light.png");
    --bg-color: #FFF1F7;
    --button-color: #353430;
    --button-hover-color: #32312D66;
    --title-color: #FFC2E6;
    --primary-subtitle-color: #353430;
    --secondary-subtitle-color: #353430;
    --main-text-color: #353430;
    --accent-color: #FF8DCB;
  }

  .header__rec-label {
    display: none;
  }
}